torch >= 2.1.0
torchvision >= 0.16
pillow
tqdm
pytorch-lightning
wandb
hydra-core
hydra-optuna-sweeper 
gsutil

# For the web app
fastapi>=0.68.0,<0.69.0
uvicorn>=0.15.0,<0.16.0
python-multipart
pyyaml